*{
	box-sizing: border-box;
}

body{
	font-family: 'Macondo Swash Caps', Arial, cursive;
	background: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-weight: bolder;	
	height: 100vh;
}

.wrapper{
	display: flex;
	flex-direction: column;	
	/*align-items: center;*/
}

header .h1{
	font-size: 52px;
	padding: 10px;
}

header .h2{
	font-size: 32px;
	padding: 10px;
}


header{
	min-height: 20vh;
}

main{
	height: calc(100vh - 30vh);
}

footer{
	min-height: 10vh;
	padding-top: 20px;
}

.main-content{
	font-size: 26px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.results{
	display: flex;
	justify-content: space-between;
}

.wins,
.losses,
.chances,
.guessDiv{
	border: 1px solid #fff;
	border-radius: 10px;
	background-color: transparent;
	padding: 10px 20px;
}





